name: DevOps CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Step
        run: echo "Build completed successfully"

      - name: Test Step
        run: echo "Test completed successfully"
